
aside 
    {width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.2); 
    padding: 1rem;
    text-align: center;
    background-color: #eee;
    color: #333
}
aside img {
    width: 200px;
    height: auto;
}

p{
    padding: 0.5rem;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}