
nav{background-color: #333;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    color: white

}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {color: #333;
    text-align: center;
}

main img {
    width: 100%;
    height: auto;
    border: 2px solid #333;
    padding: 0.5rem;
    box-shadow: 2px 2px 8px rgb(0 0 0 0.2);

}










aside 
    {width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.2); 
    padding: 1rem;
    text-align: center;
    background-color: #eee;
    color: #333
}
aside img {
    width: 200px;
    height: auto;
}

p{
    padding: 0.5rem;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}